<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Plotting</title>
</head>
<body>
    <h1>Data Plotting Service</h1>
    <div class="container">
        {% for suffix in ['B1', 'B2', 'B3', 'B4', 'B5'] %}
            <div class="plot">
                {% if suffix in plot_files_B %}
                    <h2>{{ suffix }} Data Plot {{ yesterday_date }}</h2>
                    <img src="{{ url_for('static', filename=plot_files_B[suffix]) }}" alt="{{ suffix }} Data Plot">
                {% elif suffix in no_data_files_B %}
                    <h2>{{ suffix }} Data Plot {{ yesterday_date }} No Data</h2>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="container">
        {% for suffix in ['D1', 'D2', 'D3'] %}
            <div class="plot">
                {% if suffix in plot_files_D %}
                    <h2>{{ suffix }} Data Plot {{ yesterday_date }}</h2>
                    <img src="{{ url_for('static', filename=plot_files_D[suffix]) }}" alt="{{ suffix }} Data Plot">
                {% elif suffix in no_data_files_D %}
                    <h2>{{ suffix }} Data Plot {{ yesterday_date }} No Data</h2>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</body>
</html>
